spring:
  application:
    name: api-gateway
  cloud:
    config:
      enabled: false # Disable Config Server, Later we will use Centralized Config Server
    gateway:
      discovery:
        locator:
          enabled: true #Enabled routing based on service discovery
      routes:
        - id: user-service-auth
          uri: lb://user-service
          predicates:
            - Path=/api/v1/auth/** # Route all auth requests to user-service
        - id: user-service-info
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/** # Route all user requests to user-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8080
app:
  jwt:
    jwt-secret: ${JWT_SECRET}
    jwt-expiration: ${JWT_EXPIRY_TIME}
logging:
  level:
    com.bookticket.api_gateway: DEBUG
